//color
$pink1:#fe3e57;
$pink2:#fb2d4f;
$black1:#8d8d8d;
$black2:#29282d;
$white1:#FFFFFF;
/*$bg6:#4D800C;
$bg2:#E0EDCF;
$bg1:#EFF6E7;
$br9:#CF3E3B;
$bo9:#FF7A00;
$by9:#FFB800;
$by8:#fcc94a;
$bd11:#C4C4C4;
$bd10:rgba(0, 0, 0, 0.25);
$bd9:#121212;
$bd8:#000;
$bd7:#31352B;
$bd6:rgba(49, 53, 43, 0.85);
$bd5:#505050;
$bd4:rgba(193, 193, 193, 0.3);
$bd3:rgba(255, 255, 255, 0.5);
$bd2:rgba(255, 255, 255, 0.1);
$bd1:rgba(255, 255, 255, 0.8);
$bs9:#FFFFFF80;
$bs8:#4F4F4F;
$bs7:#5A5A5A;
$bs6:#F3F3F2;
$bs5:#C1C1C1;
$bs4:#f5f5f5;
$bs1:#F6F6F6;*/

//font-famili
$font-Roboto:Roboto;
$font-Quicksand:Quicksand;
/* $fs:Signika; */

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

//переменные media
$minWidth:320px;
$maxWidth:1920;
$maxWidthContainer: 1200;
$md0:1200px;
